{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>REGISTRATION PAGE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pag.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <br><br><br>
  <table border="0" style="margin-left:30rem;border-radius: 2rem;">
    <tr>
        <td>
          <div class="container">
        <h3>INSCRIVEZ-VOUS</h3>
      </div>
        <div class="container">
        <table width="300">
        <form method="POST">
          {% csrf_token %}
          <tr>
            <td><br>
              <p>Nom</p>
              <p>{{form.username}}
                <!--<input type="text" name="username" required="required" placeholder="username" class="tex">--></p>
            </td>
          </tr>
          <tr>
        <td>
         <p>Email</p>
          <p>{{form.email}}
            <!--<input type="email" name="email" required="required" placeholder="your email address" class="tex">--></p>
        </td>
      </tr>
      <tr>
        <td>
       <p>Mot de passe</p>
          <p>
            {{form.password1}}<!--<input type="password" name="pwd1" required="required" placeholder="your password" class="tex">--></p>
        </td>
      </tr>
       <tr>
        <td>
        <p>Confirmer mot de passe</p>
        <p>{{form.password2}}
          <!--<input type="password" name="pwd2" required="required" placeholder="confirm your password" class="tex">--></p>
        </td>
       </tr>
      </table>
    </div>
      </td>
    </tr>
        <td>
          <div class="container">
      <br><button type="submit" class="btn btn-primary" id="bou" style="border-radius:3rem;">Créer un nouveau compte</button><br><br>
    </div>
        </td>
      </tr>
         <tr>
      <td bgcolor="silver" style="border-radius:2rem;">
  <div class="card-footer text-muted text-center">
             Avez-vous déjà un compte? <a href="login">Se connecter</a>
          </div>
      </td>
  </tr>
      </form>
  </table>
</body>
</html>